.container{
    margin: 5rem 0;
}

.card {
    margin: 1rem 2%!important;
}

@media (min-width: 700px) {
    .card {
        margin: -2rem 2%!important;
    }
}

.infected {
    border-bottom: 1rem solid rgba(0, 0, 255, 0.397)
}

.recovered {
    border-bottom: 1rem solid rgba(0, 255, 0, 0.397)
}

.deaths {
    border-bottom: 1rem solid rgba(255, 0, 0, 0.397)
}